<section class="c-footer">
  <div class="c-footer__container">
    <div class="c-footer__brand">
      2020 <%= image_tag 'copyright.png' %></figure> <%= link_to 'football in colour', root_path %>
    </div>
  </div>
</section>
