$border-radius: 5rem;

.c-button {
  &__main {
    background-color: $fic-navy;
    color: $fic-champagne;
    font-size: 14px;
    margin-top:20px;
    &:hover {
      background-color: $fic-blue;
      color: $fic-champagne;
    }
  }

  &__add-to-cart {
    background-color: $fic-pink;
    color: $fic-navy;
    font-size: 14px;
    margin-top:20px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem;
    width: 10rem;
    border-radius: $border-radius;
    overflow: hidden;

    &Hover {
      transition: all 0.2s linear 0s;
      &:before {
        content: "\f07a";
        font-family: FontAwesome;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -30px;
        width: 30px;
        height: 100%;
        background-color: rgba($fic-white,0.3);
        border-radius: 0px $border-radius $border-radius 0px;
        transition: all 0.2s linear 0s;
        text-align: center;
      }

      &:hover {
        text-indent: -30px;
        background-color: $fic-blue;
        color: $fic-navy;

        &:before {
          right: 0;
          text-indent: 0;
        }
      }
    }
  }
}
