<div class="container c-container__products">
  <div class="c-container__products text-center c-home__sub-title">
    all items
  </div>
  <%= render 'partials/products', products: @products %>
</div>
